* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.Login {
  width: 100%;
  max-width: 330px;
  background: #f4f4f4;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.Login h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0689f4;
  font-size: 1.5rem;
}

.Login_form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login_input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid #0689f4;
  outline: none;
}

.login_input:focus {
  transition: 0.4s ease-in-out;
  border: 1.3px solid #0689f4;
  box-shadow: 0 0 5px rgba(6, 137, 244, 0.7);
}

.btn_login {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #0689f4;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn_login:hover {
  transition: 0.4s ease-in-out;
  background-color: white;
  color: #0689f4;
}

.chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}

.chat__mensagem {
  flex-grow: 1;
  padding: 30px 30px 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chat_form {
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mensagem {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid #0689f4;
  outline: none;
  margin-right: 10px;
  font-size: 14px;
  flex-grow: 1;
}

.mensagem:focus {
  transition: 0.4s ease-in-out;
  border: 1.3px solid #0689f4;
  box-shadow: 0 0 5px rgba(6, 137, 244, 0.3);
}

.btn_send {
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 14px;
  border: none;
  background-color: #0689f4;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.chat__mensagem div {
  width: 100%;
  max-width: 250px;
  line-height: 22px;
  margin-bottom: 15px;
  padding: 10px;
}

.mensagem_user {
  background-color: #0689f4;
  color: white;
  border-radius: 10px 0px 10px 10px;
  align-self: flex-end;
}

.mensagem_other_user {
  background-color: #048c28;
  color: white;
  border-radius: 0px 10px 10px 10px;
  align-self: flex-start;
}

.mensagem_other {
    display: block;
    margin-bottom: 15px;
    font-weight: 700;
}
